body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: black;
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: black;
  text-align:center
}

h2 {
  letter-spacing: 5px;
  font: 15px "Lato", sans-serif;
  color: black;
  text-align: left;
}

.textSection {
  background-color:#00E5EE;
  padding:50px 80px;
  color: black;
}

.front-page, .chocolatechip, .orange-snowballs, .orange-cranberry, .thumb-print, .snickerdoodle, .peanut-butter, .frosted-butterscotch, .sugar-cookie, .sugar-cookie-2, .ender{
  position: relative;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #00F5FF;
  background-size: cover;
  min-height: 50%;
  opacity: 0.8;
}

.front-page {
  background-image: url("Front Page.jpeg");
  min-height: 100%;
  background-size: auto;
}
.chocolatechip {
  background-image: url("1200px-2ChocolateChipCookies.jpg");
  min-height: 100%;
  background-size: auto;
}
.orange-snowballs {
  background-image: url("orangesnowballs.jpg");
  min-height: 200%;
  background-size: auto;
}
.orange-cranberry {
  background-image: url("Orange Cranberry Snowballs.jpg");
  background-size: auto;
}
.thumb-print {
  background-image: url("thumbprints.jpg");
  min-height: 100%;
  background-size: auto;
}
.snickerdoodle {
  background-image: url("Snickerdoodles.jpg");
  min-height: 100%;
  background-size: auto;
}
.peanut-butter {
  background-image: url("peanut-butter-cookies-5.jpg");
  min-height: 100%;
  background-size: auto;
}
.frosted-butterscotch {
  background-image: url("Frosted Butterscotch Cookies - Copy.JPG");
  min-height: 100%;
  background-size: auto;
}
.sugar-cookie {
  background-image: url("Sugar Cookies.jpg");
  min-height: 100%;
  background-size: auto;
}
.sugar-cookie-2 {
  background-image: url("Sugar Cookies 2.jpeg");
  background-size: auto;
}
.ender {
  background-image: url("Ender.jpg");
  min-height: 100%;
  background-size: auto;
}
.caption {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
.border {
  background-color: #41BAC1;
  color: White;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
/* Trun off parallax scrolling for tablets and phones as it is not supported */
/* @media only screen and (max-device-width: 1024px) {
  .cd-logo,.simple-cake,.kitchen-equipment,.cake-ingredients,.preparation,.cooking-instuctions, .decorations {
    background-attachment: scroll;
  }
} */